<!DOCTYPE html>
<html>
  <head>
    <title>Happeningbrite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'myfavicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <script>
      window.img_outside = "<%= image_url('outside.jpg') %>"
      window.img_concert = "<%= image_url('concert.jpg') %>"
      window.img_leaf = "<%= image_url('leaf.jpg') %>"
      window.img_baking = "<%= image_url('baking.jpg') %>"
      window.img_arts = "<%= image_url('arts.jpg') %>"
      window.img_food = "<%= image_url('food.jpg') %>"
      window.img_music = "<%= image_url('music.jpg') %>"
      window.img_networking = "<%= image_url('networking.jpg') %>"
      window.img_party = "<%= image_url('party.jpg') %>"
      window.img_sports = "<%= image_url('sports.jpg') %>"
      window.img_sports2 = "<%= image_url('sports2.jpg') %>"
      window.classes2 = "<%= image_url('classes2.jpg') %>"

      window.music_park = "<%= image_url('music-park.jpg') %>"
      window.pheobe = "<%= image_url('pheobe.jpg') %>"
      window.yoga2 = "<%= image_url('yoga2.jpg') %>"
      window.brunch = "<%= image_url('brunch.jpg') %>"
      window.plant = "<%= image_url('plant.jpg') %>"
      window.crossfit = "<%= image_url('crossfit.jpg') %>"
      window.concert = "<%= image_url('concert.jpg') %>"
      window.rock = "<%= image_url('rock.jpg') %>"
      window.grass = "<%= image_url('grass.jpg') %>"
      window.records = "<%= image_url('records.jpg') %>"
      window.sandwich = "<%= image_url('sandwich.jpg') %>"
      window.tantra = "<%= image_url('tantra.jpg') %>"
      window.sticks = "<%= image_url('sticks.jpg') %>"
      window.Hamilton = "<%= image_url('Hamilton.jpg') %>"
      window.waffles = "<%= image_url('waffles.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
