<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.img_outside = "<%= image_url('outside.jpg') %>"
      window.img_pride = "<%= image_url('pride.jpg') %>"
      window.img_concert = "<%= image_url('concert.jpg') %>"
      window.img_leaf = "<%= image_url('leaf.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
