<!DOCTYPE html>
<html>
  <head>
    <title>Happeningbrite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="icon" href="/app/assets/images/myfavicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/app/assets/images/myfavicon.ico" type="image/x-icon" />
    <script>
      window.img_outside = "<%= image_url('outside.jpg') %>"
      window.img_pride = "<%= image_url('pride.jpg') %>"
      window.img_concert = "<%= image_url('concert.jpg') %>"
      window.img_leaf = "<%= image_url('leaf.jpg') %>"
      window.img_baking = "<%= image_url('baking.jpg') %>"
      window.img_arts = "<%= image_url('arts.jpg') %>"
      window.img_classes = "<%= image_url('classes.jpg') %>"
      window.img_food = "<%= image_url('food.jpg') %>"
      window.img_music = "<%= image_url('music.jpg') %>"
      window.img_networking = "<%= image_url('networking.jpg') %>"
      window.img_party = "<%= image_url('party.jpg') %>"
      window.img_sports = "<%= image_url('sports.jpg') %>"
      window.img_sports2 = "<%= image_url('sports2.jpg') %>"
      window.img_yoga2 = "<%= image_url('yoga2.jpg') %>"
      window.acorns = "<%= image_url('acorns.jpg') %>"
      window.grass = "<%= image_url('grass.jpg') %>"
      window.leaves = "<%= image_url('leaves.jpg') %>"
      window.music_park = "<%= image_url('music-park.jpg') %>"
      window.pheobe = "<%= image_url('pheobe.jpg') %>"
      window.plant = "<%= image_url('plant.jpg') %>"
      window.rock = "<%= image_url('rock.jpg') %>"
      window.sticks = "<%= image_url('sticks.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
